<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Motherboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Intel Motherboards</a>
                <a href="" class="dropdown-item">AMD Motherboards</a>
                <a href="" class="dropdown-item">All Motherboards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graphic Cards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">NVIDIA Graphic Cards</a>
                <a href="" class="dropdown-item">AMD Graphic Cards</a>
                <a href="" class="dropdown-item">All Graphic Cards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white  mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Processors
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Intel Processors</a>
                <a href="" class="dropdown-item">AMD Processors</a>
                <a href="" class="dropdown-item">Thermal Compounds</a>
                <a href="" class="dropdown-item">All Processors</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white  mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Memory
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">DDR4 RAM</a>
                <a href="" class="dropdown-item">DDR3 RAM</a>
                <a href="" class="dropdown-item">DDR2 RAM</a>
                <a href="" class="dropdown-item">All RAM</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white  mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Storage
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">SSD Solid State</a>
                <a href="" class="dropdown-item">HDD Hard Disk</a>
                <a href="" class="dropdown-item">Flash Memory</a>
                <a href="" class="dropdown-item">All Storage</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white  mr-3" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Power Supplies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">up to 500 Watts</a>
                <a href="" class="dropdown-item">up to 800 Watts</a>
                <a href="" class="dropdown-item">Above 800 Watts</a>
                <a href="" class="dropdown-item">All Power Supplies</a>
            </div>
        </li>
    </ul>
</div>