<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="motherboards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Motherboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="motherboards-link">
                <a href="{% url 'products' %}?category=intel-mb" class="dropdown-item">Intel Motherboards</a>
                <a href="{% url 'products' %}?category=amd-mb" class="dropdown-item">AMD Motherboards</a>
                <a href="{% url 'products' %}?category=amd-mb,intel-mb" class="dropdown-item">All Motherboards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="gpu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graphic Cards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gpu-link">
                <a href="{% url 'products' %}?category=nvidia-gpu" class="dropdown-item">NVIDIA Graphic Cards</a>
                <a href="{% url 'products' %}?category=amd-gpu" class="dropdown-item">AMD Graphic Cards</a>
                <a href="{% url 'products' %}?category=nvidia-gpu,amd-gpu" class="dropdown-item">All Graphic Cards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white  mr-5" href="#" id="cpu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Processors
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cpu-link">
                <a href="{% url 'products' %}?category=intel-cpu" class="dropdown-item">Intel Processors</a>
                <a href="{% url 'products' %}?category=amd-cpu" class="dropdown-item">AMD Processors</a>
                <a href="{% url 'products' %}?category=thermal-cpu" class="dropdown-item">Thermal Compounds</a>
                <a href="{% url 'products' %}?category=intel-cpu,amd-cpu,thermal-cpu" class="dropdown-item">All Processors</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white  mr-5" href="#" id="memory-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Memory
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="memory-link">
                <a href="{% url 'products' %}?category=memory-ddr4" class="dropdown-item">DDR4 RAM</a> 
                <a href="{% url 'products' %}?category=memory-ddr3" class="dropdown-item">DDR3 RAM</a>
                <a href="{% url 'products' %}?category=memory-ddr2" class="dropdown-item">DDR2 RAM</a>
                <a href="{% url 'products' %}?category=memory-ddr4,memory-ddr3,memory-ddr2" class="dropdown-item">All RAM</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white  mr-5" href="#" id="storage-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Storage
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="storage-link">
                <a href="{% url 'products' %}?category=storage-ssd" class="dropdown-item">SSD Solid State</a> 
                <a href="{% url 'products' %}?category=storage-hdd" class="dropdown-item">HDD Hard Disk</a>
                <a href="{% url 'products' %}?category=storage-flash" class="dropdown-item">Flash Memory</a>
                <a href="{% url 'products' %}?category=storage-ssd,storage-hdd,storage-flash" class="dropdown-item">All Storage</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white  mr-3" href="#" id="psu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Power Supplies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="psu-link">
                <a href="{% url 'products' %}?category=psu-500w" class="dropdown-item">up to 500 Watts</a>
                <a href="{% url 'products' %}?category=psu-800w" class="dropdown-item">up to 800 Watts</a>
                <a href="{% url 'products' %}?category=psu-more800w" class="dropdown-item">Above 800 Watts</a>
                <a href="{% url 'products' %}?category=psu-500w,psu-800w,psu-more800w" class="dropdown-item">All Power Supplies</a>
            </div>
        </li>
    </ul>
</div>